@model Foto

<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary" href="/Foto/Index">Torna alla lista delle foto</a>
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli della foto</h1>
            </div>
            <div class="post-single-image-container">
                <img src="@Model.Pathimg">
            </div>
            <p>
                <strong>Titolo:</strong>
                @Model.Title
            </p>
            <p>
                <strong>Categoria:</strong>
                @if (Model.Categories != null)
                {
                    @string.Join(", ", @Model.Categories.Select(i=>i.Name))
                }
                else
                {
                    <span>Nessuna categoria associata</span>
                }
            </p>
            
            <p>
                <strong>Contenuto:</strong>
                @Model.Description
            </p>
        </div>
    </div>
</div>
